{{#fillSection "metaDescription"}}This is an example home page for your application experience.{{/fillSection}}
<div class="container">
  <div class="jumbotron">
    <h1>Your Experience View!</h1>
    <p class="lead">
      This is an example Experience View we've built for you. It provides many of the common
      components that most web pages have, like a header, footer, and navigation. You can use this
      as a launching point for your own custom user interfaces.
    </p>
  </div>
  <p>
    All Experiences Views start with a Layout. The layout includes common items found on
    all pages, like a header and footer. Pages are then rendered inside
    the layout.
  </p>
  <p>There are two types of pages available: Custom and Dashboard.
    What you're reading now is an example of a custom page. Dashboard pages allow you to embed an
    existing dashboard, which is a fast way to publish data to your Experience Users.
  </p>
  
  <p>
    This example is created using <a href="https://getbootstrap.com/docs/3.3/" target="_blank">Twitter Bootstrap</a>, which
    provides many components, styles, and utilities that make building web pages simple.
  </p>
</div>