<ul class="nav navbar-nav navbar-right">
  {{#if experience.user}}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{experience.user.firstName}} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </li>
  {{else}}
    <li><a href="/login">Log In</a></li>
  {{/if}}
</ul>