{{#fillSection "metaDescription"}}This is an example home page for your application experience.{{/fillSection}}
<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4">Your Experience View!</h1>
    <p class="lead">
      This is an example <a target="_blank" href="https://docs.losant.com/experiences/views/">Experience View</a> we've built for you. It provides many of the common
      components that most web pages have, like a header, footer, and navigation. You can use this
      as a launching point for your own custom user interfaces.
    </p>
  </div>
  <p>
    All Experiences Views start with a <a href="https://docs.losant.com/experiences/views/#layouts">Layout</a>. The layout includes common items found on
    all pages, like a header and footer. <a href="https://docs.losant.com/experiences/views/#pages">Pages</a> are then rendered inside
    the layout.
  </p>
  <p>There are two types of pages available: <a target="_blank" href="https://docs.losant.com/experiences/views/#custom-pages">Custom</a> and <a target="_blank" href="https://docs.losant.com/experiences/views/#dashboard-pages">Dashboard</a>.
    What you're reading now is an example of a custom page. Dashboard pages allow you to embed an
    existing dashboard, which is a fast way to publish data to your Experience Users.
  </p>
  <p>
    For additional information, please read the <a target="_blank" href="https://docs.losant.com/experiences/walkthrough/views/overview/">Experience View Walkthrough</a>, which includes
    detailed instructions for how to build a complete example that includes both custom and
    dashboard pages.
  </p>
  <p>
    This example is created using <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" target="_blank">Twitter Bootstrap</a>, which
    provides many components, styles, and utilities that make building web pages simple.
  </p>
</div>